---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.4/team/by-summoner/20106984?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"20106984":[{"fullId":"TEAM-f6ab8c00-452d-11e4-814b-782bcb4d1e24","name":"Can
        we not","tag":"CWN1","status":"RANKED","teamStatDetails":[{"teamStatType":"RANKED_TEAM_5x5","wins":1,"losses":0,"averageGamesPlayed":0},{"teamStatType":"RANKED_TEAM_3x3","wins":0,"losses":0,"averageGamesPlayed":0}],"roster":{"ownerId":20095379,"memberList":[{"playerId":26125925,"joinDate":1411677244000,"inviteDate":1411677244000,"status":"MEMBER"},{"playerId":45574759,"joinDate":1411677301000,"inviteDate":1411677260000,"status":"MEMBER"},{"playerId":20095379,"joinDate":1411677267000,"inviteDate":1411677263000,"status":"MEMBER"},{"playerId":20106984,"joinDate":1411678562000,"inviteDate":1411678406000,"status":"MEMBER"},{"playerId":19755361,"joinDate":1414873072000,"inviteDate":1414873043000,"status":"MEMBER"},{"playerId":385409,"joinDate":1417585691000,"inviteDate":1417585688000,"status":"MEMBER"},{"playerId":41683718,"joinDate":1419303692000,"inviteDate":1419303666000,"status":"MEMBER"},{"playerId":21408044,"joinDate":1420689350000,"inviteDate":1420689323000,"status":"MEMBER"},{"playerId":30158992,"joinDate":1420689409000,"inviteDate":1420689378000,"status":"MEMBER"}]},"matchHistory":[{"kills":56,"deaths":46,"opposingTeamKills":45,"assists":122,"gameMode":"CLASSIC","opposingTeamName":"TOMATOMA","win":true,"invalid":false,"mapId":11,"gameId":1829389967,"date":1432087555763},{"kills":13,"deaths":40,"opposingTeamKills":40,"assists":22,"gameMode":"CLASSIC","opposingTeamName":"Fist
        Pump 2 Guns","win":false,"invalid":false,"mapId":11,"gameId":1690168175,"date":1420694704885},{"kills":35,"deaths":16,"opposingTeamKills":16,"assists":70,"gameMode":"CLASSIC","opposingTeamName":"Zimby
        and the Js","win":true,"invalid":false,"mapId":11,"gameId":1690142193,"date":1420691924835},{"kills":37,"deaths":45,"opposingTeamKills":45,"assists":60,"gameMode"[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/26125925,45574759,20095379,20106984,19755361,385409,41683718,21408044,30158992,20409409,20106984,19755361,35491814,32174129,26125925,385409,385409,19088825,24158657,19744834,21623880,45574759,20106984,?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"24158657":{"id":24158657,"name":"EWStalkie","profileIconId":925,"summonerLevel":30,"revisionDate":1444767803000},"21408044":{"id":21408044,"name":"RunawayFaster","profileIconId":915,"summonerLevel":30,"revisionDate":1444707632000},"20106984":{"id":20106984,"name":"thememan","profileIconId":691,"summonerLevel":30,"revisionDate":1444708194000},"30158992":{"id":30158992,"name":"rubymoon26","profileIconId":642,"summonerLevel":30,"revisionDate":1444761916000},"20095379":{"id":20095379,"name":"TheDelusion","profileIconId":28,"summonerLevel":30,"revisionDate":1444695170000},"385409":{"id":385409,"n[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/1442785701?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"matchId":1442785701,"region":"NA","platformId":"NA1","matchMode":"CLASSIC","matchType":"MATCHED_GAME","matchCreation":1404532791346,"matchDuration":2283,"queueType":"RANKED_TEAM_5x5","mapId":1,"season":"SEASON2014","matchVersion":"4.11.0.399","participants":[{"teamId":100,"spell1Id":4,"spell2Id":3,"championId":267,"highestAchievedSeasonTier":"UNRANKED","timeline":{"creepsPerMinDeltas":{"zeroToTen":0.6,"tenToTwenty":0.30000000000000004,"twentyToThirty":1.0,"thirtyToEnd":0.0},"xpPerMinDeltas":{"zeroToTen":253.9,"tenToTwenty":321.3,"twentyToThirty":595.8,"thirtyToEnd":404.6},"goldPerMinDeltas":{"zeroToTen":162.3,"tenToTwenty":353.8,"twentyToThirty":425.20000000000005,"thirtyToEnd":437.0},"csDiffPerMinDeltas":{"zeroToTen":0.34999999999999987,"tenToTwenty":1.4500000000000002,"twentyToThirty":-0.30000000000000016,"thirtyToEnd":-0.40000000000000036},"xpDiffPerMinDeltas":{"zeroToTen":6.19999999999996,"tenToTwenty":87.15000000000002,"twentyToThirty":49.29999999999998,"thirtyToEnd":94.40000000000009},"damageTakenPerMinDeltas":{"zeroToTen":226.0,"tenToTwenty":502.70000000000005,"twentyToThirty":690.0,"thirtyToEnd":834.0},"damageTakenDiffPerMinDeltas":{"zeroToTen":-38.7,"tenToTwenty":-257.79999999999995,"twentyToThirty":-234.80000000000007,"thirtyToEnd":-106.70000000000005},"role":"DUO_SUPPORT","lane":"BOTTOM"},"stats":{"winner":true,"champLevel":16,"item0":3222,"item1":3023,"item2":3069,"item3":2045,"item4":3270,"item5":2043,"item6":3364,"kills":4,"doubleKills":0,"tripleKills":0,"quadraKills":0,"pentaKills":0,"unrealKills":0,"largestKillingSpree":2,"deaths":1,"assists":33,"totalDamageDealt":36319,"totalDamageDealtToChampions":20722,"totalDamageTaken":21254,"largestCriticalStrike":0,"totalHeal":19077,"minionsKilled":19,"neutralMinionsKilled":0,"neutralMinionsKilledTeamJungle":0,"neutralMinionsKilledEnemyJungle":0,"goldEarned":13415,"goldSpent":12155,"combatPlayerScore":0,"objectivePlayerScore":0,"totalPlayerScore":0,"totalScoreRank":0,"magicDamageDealtToChampions":15719,"physicalDamageDealtToChampions":4574,"trueDamageDealtToChampions":428,"visionWardsBoughtInGame":9,"sightWardsBoughtInGame":0,"magicDamageDealt":25645,"physicalDamageDealt":9512,"trueDamageDealt":1162,"magicDamageTaken":13997,"physicalDamageTaken":6850,"trueDamageTaken":406,"firstBloodKill":false,"firstBloodAssist":false,"firstTowerKill":false,"firstTowerAssist":false,"firstInhibitorKill":true,"firstInhibitorAssist":false,"inhibitorKills":1,"towerKills":0,"wardsPlaced":45,"wardsKilled":6,"largestMultiKill":1,"killingSprees":2,"totalUnitsHealed":5,"totalTimeCrowdControlDealt":470},"participantId":1},{"teamId":100,"spell1Id":4,"spell2Id":11,"championId":28,"highestAchievedSeasonTier":"UNRANKED","timeline":{"creepsPerMinDeltas":{"zeroToTen":0.7,"tenToTwenty":2.2,"twentyToThirty":1.4,"thirtyToEnd":0.8},"xpPerMinDeltas":{"zeroToTen":312.1,"tenToTwenty":539.7,"twentyToThirty":460.2,"thirtyToEnd":477.2},"goldPerMinDeltas":{"zeroToTen":172.2,"tenToTwenty":427.70000000000005,"twentyToThirty":426.1,"thirtyToEnd":469.4},"damageTakenPerMinDeltas":{"zeroToTen":365.4,"tenToTwenty":622.1,"twentyToThir[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/634843556?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=ISO-8859-1\"/>\n<title>Error 404 Not Found</title>\n</head>\n<body><h2>HTTP
        ERROR 404</h2>\n<p>Problem accessing /api/lol/na/v2.2/match/634843556. Reason:\n<pre>
        \   Not Found</pre></p><br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n\n</body>\n</html>\n"
  recorded_at: Tue, 13 Oct 2015 20:38:49 GMT
[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/thememan?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"thememan":{"id":20106984,"name":"thememan","profileIconId":691,"summonerLevel":30,"revisionDate":1444708194000}}'
  recorded_at: Wed, 14 Oct 2015 18:18:18 GMT
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/1924587170?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"matchId":1924587170,"region":"NA","platformId":"NA1","matchMode":"CLASSIC","matchType":"MATCHED_GAME","matchCreation":1440040517134,"matchDuration":2026,"queueType":"RANKED_TEAM_5x5","mapId":11,"season":"SEASON2015","matchVersion":"5.15.0.337","participants":[{"teamId":100,"spell1Id":14,"spell2Id":12,"championId":105,"highestAchievedSeasonTier":"UNRANKED","timeline":{"creepsPerMinDeltas":{"zeroToTen":5.3,"tenToTwenty":3.5,"twentyToThirty":4.5},"xpPerMinDeltas":{"zeroToTen":422.9,"tenToTwenty":303.29999999999995,"twentyToThirty":474.1},"goldPerMinDeltas":{"zeroToTen":249.1,"tenToTwenty":258.6,"twentyToThirty":422.0},"csDiffPerMinDeltas":{"zeroToTen":0.9000000000000001,"tenToTwenty":-2.9,"twentyToThirty":0.9000000000000004},"xpDiffPerMinDeltas":{"zeroToTen":63.099999999999994,"tenToTwenty":-234.9,"twentyToThirty":162.5},"damageTakenPerMinDeltas":{"zeroToTen":337.9,"tenToTwenty":670.4,"twentyToThirty":1030.3},"damageTakenDiffPerMinDeltas":{"zeroToTen":-11.900000000000006,"tenToTwenty":113.99999999999997,"twentyToThirty":-328.0},"role":"SOLO","lane":"TOP"},"masteries":[{"masteryId":4112,"rank":3},{"masteryId":4113,"rank":3},{"masteryId":4114,"rank":1},{"masteryId":4122,"rank":3},{"masteryId":4124,"rank":1},{"masteryId":4132,"rank":1},{"masteryId":4134,"rank":3},{"masteryId":4142,"rank":3},{"masteryId":4152,"rank":2},{"masteryId":4162,"rank":1},{"masteryId":4211,"rank":2},{"masteryId":4212,"rank":2},{"masteryId":4221,"rank":1},{"masteryId":4222,"rank":3},{"masteryId":4232,"rank":1}],"stats":{"winner":true,"champLevel":15,"item0":3078,"item1":1029,"item2":3065,"item3":3111,"item4":1011,[...]
[...]
