<body id="main">
  <div class="row home fullWidth animated fadeInLeft">
    <div class="small-10 text-center small-centered columns">
      <h1 class="new_title">Teamo</h1>
    </div>
    <div class="bar small-10 medium-9 large-7 small-centered columns">
    <%= form_for @summoner do |s| %>
      <div class="small-10 columns new-bar">
        <%= s.text_field :name, placeholder: "Enter summoner name here"%>
      </div>
      <div class="small-2 columns search-button">
        <%= s.submit "Search", class: "button postfix" %>
    <%- end -%>
      </div>
    </div>
  </div>
</body>
