---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/thememan?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"thememan":{"id":20106984,"name":"thememan","profileIconId":691,"summonerLevel":30,"revisionDate":1444285756000}}'
  recorded_at: Fri, 09 Oct 2015 18:27:04 GMT
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.4/team/by-summoner/20106984?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"20106984":[{"fullId":"TEAM-f6ab8c00-452d-11e4-814b-782bcb4d1e24","name":"Can
        we not","tag":"CWN1","status":"RANKED","teamStatDetails":[{"teamStatType":"RANKED_TEAM_3x3","wins":0,"losses":0,"averageGamesPlayed":0},{"teamStatType":"RANKED_TEAM_5x5","wins":1,"losses":0,"averageGamesPlayed":0}],"roster":{"ownerId":20095379,"memberList":[{"playerId":26125925,"joinDate":1411677244000,"inviteDate":1411677244000,"status":"MEMBER"},{"playerId":45574759,"joinDate":1411677301000,"inviteDate":1411677260000,"status":"MEMBER"},{"playerId":20095379,"joinDate":1411677267000,"inviteDate":1411677263000,"status":"MEMBER"},{"playerId":20106984,"joinDate":1411678562000,"inviteDate":1411678406000,"status":"MEMBER"},{"playerId":19755361,"joinDate":1414873072000,"inviteDate":1414873043000,"status":"MEMBER"},{"playerId":385409,"joinDate":1417585691000,"inviteDate":1417585688000,"status":"MEMBER"},{"playerId":41683718,"joinDate":1419303692000,"inviteDate":1419303666000,"status":"MEMBER"},{"playerId":21408044,"joinDate":1420689350000,"inviteDate":1420689323000,"status":"MEMBER"},{"playerId":30158992,"joinDate":1420689409000,"inviteDate":1420689378000,"status":"MEMBER"}]},"matchHistory":[{"kills":56,"deaths":46,"opposingTeamKills":45,"assists":122,"gameMode":"CLASSIC","opposingTeamName":"TOMATOMA","win":true,"invalid":false,"mapId":11,"gameId":1829389967,"date":1432087555763},{"kills":13,"deaths":40,"opposingTeamKills":40,"assists":22,"gameMode":"CLASSIC","opposingTeamName":"Fist
        Pump 2 Guns","win":false,"invalid":false,"mapId":11,"gameId":1690168175,"date":1420694704885},{"kills":35,"deaths":16,"opposingTeamKills":16,"assists":70,"gameMode":"CLASSIC","opposingTeamName":"Zimby
        and the Js","win":true,"invalid":false,"mapId":11,"gameId":1690142193,"date":1420691924835},{"kills":37,"deaths":45,"opposingTeamKills":45,"assists":60,"gameMode"[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/26125925,45574759,20095379,20106984,19755361,385409,41683718,21408044,30158992,20409409,20106984,19755361,35491814,32174129,26125925,385409,385409,19088825,24158657,19744834,21623880,45574759,20106984,?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - ap[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/1924587170?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"matchId":1924587170,"region":"NA","platformId":"NA1","matchMode":"CLASSIC","matchType":"MATCHED_GAME","matchCreation":1440040517134,"matchDuration":2026,"queueType":"RANKED_TEAM_5x5","mapId":11,"season":"SEASON2015","matchVersion":"5.15.0.337","participants":[{"teamId":100,"spell1Id":14,"spell2Id":12,"championId":105,"highestAchievedSeasonTier":"UNRANKED","timeline":{"creepsPerMinDeltas":{"zeroToTen":5.3,"tenToTwenty":3.5,"twentyToThirty":4.5},"xpPerMinDeltas":{"zeroToTen":422.9,"tenToTwenty":303.29999999999995,"twentyToThirty":474.1},"goldPerMinDeltas":{"zeroToTen":249.1,"tenToTwenty":258.6,"twentyToThirty":422.0},"csDiffPerMinDeltas":{"zeroToTen":0.9000000000000001,"tenToTwenty":-2.9,"twentyToThirty":0.9000000000000004},"xpDiffPerMinDeltas":{"zeroToTen":63.099999999999994,"tenToTwenty":-234.9,"twentyToThirty":162.5},"damageTakenPerMinDeltas":{"zeroToTen":337.9,"tenToTwenty":670.4,"twentyToThirty":1030.3},"damageTakenDiffPerMinDeltas":{"zeroToTen":-11.900000000000006,"tenToTwenty":113.99999999999997,"twentyToThirty":-328.0},"role":"SOLO","lane":"TOP"},"masteries":[{"masteryId":4112,"rank":3},{"masteryId":4113,"rank":3},{"masteryId":4114,"rank":1},{"masteryId":4122,"rank":3},{"masteryId":4124,"rank":1},{"masteryId":4132,"rank":1},{"masteryId":4134,"rank":3},{"masteryId":4142,"rank":3},{"masteryId":4152,"rank":2},{"masteryId":4162,"rank":1},{"masteryId":4211,"rank":2},{"masteryId":4212,"rank":2},{"masteryId":4221,"rank":1},{"masteryId":4222,"rank":3},{"masteryId":4232,"rank":1}],"stats":{"winner":true,"champLevel":15,"item0":3078,"item1":1029,"item2":3065,"item3":3111,"item4":1011,"item5":1029,"item6":3361,"kills":8,"doubleKills":1,"tripleKills":0,"quadraKills":0,"pentaKills":0,"unrealKills":0,"largestKillingSpree":3,"deaths":7,"assists":8,"totalDamageDealt":88422,"totalDamageDealtToChampions":14063,"totalDamageTaken":23397,"largestCriticalStrike":534,"totalHeal":410,"minionsKilled":154,"neutralMinionsKilled":1,"neutralMinionsKilledTeamJungle":1,"neutralMinionsKilledEnemyJungle":0,"goldEarned":11964,"goldSpent":10258,"combatPlayerScore":0,"objectivePlayerScore":0,"totalPlayerScore":0,"totalScoreRank":0,"magicDamageDealtToChampions":7032,"physicalDamageDealtToChampions":6525,"trueDamageDealtToChampions":506,"visionWardsBoughtInGame":2,"sightWardsBoughtInGame":0,"magicDamageDealt":22669,"physicalDamageDealt":65246,"trueDamageDealt":506,"magicDamageTaken":13649,"physicalDamageTaken":9295,"trueDamageTaken":452,"firstBloodKill":false,"firstBloodAssist":false,"firstTowerKill":false,"firstTowerAssist":false,"firstInhibitorKill":false,"firstInhibitorAssist":false,"inhibitorKills":0,"towerKills":1,"wardsPlaced":8,"wardsKilled":1,"largestMultiKill":2,"killingSprees":2,"totalUnitsHealed":1,"totalTimeCrowdControlDealt":61},"participantId":1,"runes":[{"runeId":5245,"rank":9},{"runeId":5289,"rank":9},{"runeId":5317,"rank":9},{"runeId":5335,"rank":3}]},{"teamId":100,"spell1Id":4,"spell2Id":11,"championId":60,"highestAchievedSeasonTier":"UNRANKED","timeline":{"creepsPerMinDeltas":{"zeroToTen":0.3,"tenToTwenty":0.4,"twentyToThirty":1.9000000000000001},"xpPerMinDeltas":{"zeroToTen":254.9,"tenToTwenty":386.20000000000005,"twentyToThirty":453.1},"goldPerMinDeltas":{"zeroToTen":200.39999999999998,"tenToTwenty":311.1,"twentyToThirty":365.3},"csDiffPerMinDeltas[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/1678886427?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"matchId":1678886427,"region":"NA","platformId":"NA1","matchMode":"CLASSIC","matchType":"MATCHED_GAME","matchCreation":1419717452305,"matchDuration":2131,"queueType":"RANKED_TEAM_5x5","mapId":11,"season":"PRESEASON2015","matchVersion":"4.21.0.397","participants":[{"teamId":100,"spell1Id":4,"spell2Id":7,"championId":67,"highestAchievedSeasonTier":"UNRANKED","timeline":{"creepsPerMinDeltas":{"zeroToTen":5.1,"tenToTwenty":5.199999999999999,"twentyToThirty":7.4,"thirtyToEnd":6.8},"xpPerMinDeltas":{"zeroToTen":300.6,"tenToTwenty":354.3,"twentyToThirty":669.8,"thirtyToEnd":650.0},"goldPerMinDeltas":{"zeroToTen":254.2,"tenToTwenty":402.0,"twentyToThirty":553.2,"thirtyToEnd":603.0},"csDiffPerMinDeltas":{"zeroToTen":-0.09999999999999976,"tenToTwenty":-0.6000000000000001,"twentyToThirty":0.5999999999999996,"thirtyToEnd":0.09999999999999964},"xpDiffPerMinDeltas":{"zeroToTen":-39.85000000000001,"tenToTwenty":-78.54999999999998,"twentyToThirty":270.44999999999993,"thirtyToEn[...]
[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/1442785701?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"message": "Service unavailable", "status_code": 503}}'
  recorded_at: Fri, 09 Oct 2015 18:34:36 GMT
[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/1326599742?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=ISO-8859-1\"/>\n<title>Error 404 Not Found</title>\n</head>\n<body><h2>HTTP
        ERROR 404</h2>\n<p>Problem accessing /api/lol/na/v2.2/match/1326599742. Reason:\n<pre>
        \   Not Found</pre></p><br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n\n</body>\n</html>\n"
  recorded_at: Sat, 10 Oct 2015 23:23:12 GMT
[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/634843556?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 429
      message: '429'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Retry-After:
      - '6'
      X-Rate-Limit-Type:
      - user
    body:
      encoding: UTF-8
      string: '{"status": {"message": "Rate limit exceeded", "status_code": 429}}'
  recorded_at: Sat, 10 Oct 2015 23:23:15 GMT
- request:
    method: get
    uri: http://127.0.0.1:60717/__identify__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '70240772487320'
  recorded_at: Tue, 13 Oct 2015 19:11:38 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session
    body:
      encoding: UTF-8
      string: '{"desiredCapabilities":{"browserName":"firefox","version":"","platform":"ANY","javascriptEnabled":true,"cssSelectorsEnabled":true,"takesScreenshot":true,"nativeEvents":false,"rotatable":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"newSession","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":{"cssSelectorsEnabled":true,"browserName":"firefox","handlesAlerts":true,"javascriptEnabled":true,"nativeEvents":false,"platform":"Darwin","rotatable":false,"takesScreenshot":true,"version":"39.0","webStorageEnabled":true,"applicationCacheEnabled":true,"databaseEnabled":true,"locationContextEnabled":true,"acceptSslCerts":true}}'
  recorded_at: Tue, 13 Oct 2015 19:11:40 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:60717/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"get","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":""}'
  recorded_at: Tue, 13 Oct 2015 19:11:53 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":".//*[self::input | self::textarea][not(./@type
        = ''submit'' or ./@type = ''image'' or ./@type = ''radio'' or ./@type = ''checkbox''
        or ./@type = ''hidden'' or ./@type = ''file'')][(((./@id = ''summoner_name''
        or ./@name = ''summoner_name'') or ./@placeholder = ''summoner_name'') or
        ./@id = //label[normalize-space(string(.)) = ''summoner_name'']/@for)] | .//label[normalize-space(string(.))
        = ''summoner_name'']//.//*[self::input | self::textarea][not(./@type = ''submit''
        or ./@type = ''image'' or ./@type = ''radio'' or ./@type = ''checkbox'' or
        ./@type = ''hidden'' or ./@type = ''file'')]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":[{"ELEMENT":"{8916cfd3-4927-884b-b12d-4c2de14fb553}","element-6066-11e4-a52e-4f735466cecf":"{8916cfd3-4927-884b-b12d-4c2de14fb553}"}]}'
  recorded_at: Tue, 13 Oct 2015 19:11:53 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/element/%7B8916cfd3-4927-884b-b12d-4c2de14fb553%7D/displayed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementDisplayed","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":false}'
  recorded_at: Tue, 13 Oct 2015 19:11:53 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/element/%7B8916cfd3-4927-884b-b12d-4c2de14fb553%7D/enabled
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementEnabled","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":true}'
  recorded_at: Tue, 13 Oct 2015 19:11:53 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/element/%7B8916cfd3-4927-884b-b12d-4c2de14fb553%7D/name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementTagName","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":"input"}'
  recorded_at: Tue, 13 Oct 2015 19:11:53 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/element/%7B8916cfd3-4927-884b-b12d-4c2de14fb553%7D/attribute/type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementAttribute","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":"text"}'
  recorded_at: Tue, 13 Oct 2015 19:11:53 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/element/%7B8916cfd3-4927-884b-b12d-4c2de14fb553%7D/attribute/readonly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementAttribute","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":null}'
  recorded_at: Tue, 13 Oct 2015 19:11:53 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/execute
    body:
      encoding: UTF-8
      string: '{"script":"arguments[0].value = ''''","args":[{"ELEMENT":"{8916cfd3-4927-884b-b12d-4c2de14fb553}","element-6066-11e4-a52e-4f735466cecf":"{8916cfd3-4927-884b-b12d-4c2de14fb553}"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"executeScript","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":null}'
  recorded_at: Tue, 13 Oct 2015 19:11:53 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/element/%7B8916cfd3-4927-884b-b12d-4c2de14fb553%7D/value
    body:
      encoding: UTF-8
      string: '{"value":["thememan"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"sendKeysToElement","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":""}'
  recorded_at: Tue, 13 Oct 2015 19:11:53 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/element/%7B43d9165b-4734-3140-8ed6-22cfa9c7f06f%7D/click
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"clickElement","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":"ok"}'
  recorded_at: Tue, 13 Oct 2015 19:11:54 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/element/%7Be8437845-4510-db47-bce6-04fb3a2fdabe%7D/text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementText","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":"Hello
        Kitties On Crack\nRoster\nMatch History(coming soon)\nDamages\nphaNzae\n3.2
        kda\nMember since: August-17-2013\nits KsYou\n2.6 kda\nMember since: November-03-2013\nQuidEstPro\n3.3
        kda\nMember since: December-02-2011\nSohoBakery\n1.5 kda\nMember since: December-26-2014\nELNuestro\n3.5
        kda\nMember since: December-02-2011\nthememan\n0.9 kda\nMember since: August-20-2015\nEWStalkie\n1.8
        kda\nMember since: August-06-2012"}'
  recorded_at: Tue, 13 Oct 2015 19:11:55 GMT
[...]
- request:
    method: delete
    uri: http://127.0.0.1:7055/hub/session/a8713d59-5dc1-5442-be62-cb8cefa450d2/cookie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"deleteAllCookies","sessionId":"a8713d59-5dc1-5442-be62-cb8cefa450d2","status":0,"value":""}'
  recorded_at: Tue, 13 Oct 2015 19:11:55 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:61208/__identify__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '70149713057200'
  recorded_at: Tue, 13 Oct 2015 19:14:29 GMT
recorded_with: VCR 2.9.3
