---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.4/team/by-summoner/20106984?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"20106984":[{"fullId":"TEAM-f6ab8c00-452d-11e4-814b-782bcb4d1e24","name":"Can
        we not","tag":"CWN1","status":"RANKED","teamStatDetails":[{"teamStatType":"RANKED_TEAM_5x5","wins":1,"losses":0,"averageGamesPlayed":0},{"teamStatType":"RANKED_TEAM_3x3","wins":0,"losses":0,"averageGamesPlayed":0}],"roster":{"ownerId":20095379,"memberList":[{"playerId":26125925,"joinDate":1411677244000,"inviteDate":1411677244000,"status":"MEMBER"},{"playerId":45574759,"joinDate":1411677301000,"inviteDate":1411677260000,"status":"MEMBER"},{"playerId":20095379,"joinDate":1411677267000,"inviteDate":1411677263000,"status":"MEMBER"},{"playerId":20106984,"joinDate":1411678562000,"inviteDate":1411678406000,"status":"MEMBER"},{"playerId":19755361,"joinDate":1414873072000,"inviteDate":1414873043000,"status":"MEMBER"},{"playerId":385409,"joinDate":1417585691000,"inviteDate":1417585688000,"status":"MEMBER"},{"playerId":41683718,"joinDate":1419303692000,"inviteDate":1419303666000,"status":"MEMBER"},{"playerId":21408044,"joinDate":1420689350000,"inviteDate":1420689323000,"status":"MEMBER"},{"playerId":30158992,"joinDate":1420689409000,"inviteDate":1420689378000,"status":"MEMBER"}]},"matchHistory":[{"kills":56,"deaths":46,"opposingTeamKills":45,"assists":122,"gameMode":"CLASSIC","opposingTeamName":"TOMATOMA","win":true,"invalid":false,"mapId":11,"gameId":1829389967,"date":1432087555763},{"kills":13,"deaths":40,"opposingTeamKills":40,"assists":22,"gameMode":"CLASSIC","opposingTeamName":"Fist
        Pump 2 Guns","win":false,"invalid":false,"mapId":11,"gameId":1690168175,"date":1420694704885},{"kills":35,"deaths":16,"opposingTeamKills":16,"assists":70,"gameMode":"CLASSIC","opposingTeamName":"Zimby
        and the Js","win":true,"invalid":false,"mapId":11,"gameId":1690142193,"date":1420691924835},{"kills":37,"deaths":45,"opposingTeamKills":45,"assists":60,"gameMode"[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/26125925,45574759,20095379,20106984,19755361,385409,41683718,21408044,30158992,20409409,20106984,19755361,35491814,32174129,26125925,385409,385409,19088825,24158657,19744834,21623880,45574759,20106984,?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"24158657":{"id":24158657,"name":"EWStalkie","profileIconId":925,"summonerLevel":30,"revisionDate":1444767803000},"21408044":{"id":21408044,"name":"RunawayFaster","profileIconId":915,"summonerLevel":30,"revisionDate":1444707632000},"20106984":{"id":20106984,"name":"thememan","profileIconId":691,"summonerLevel":30,"revisionDate":1444708194000},"30158992":{"id":30158992,"name":"rubymoon26","profileIconId":642,"summonerLevel":30,"revisionDate":1444761916000},"20095379":{"id":20095379,"name":"TheDelusion","profileIconId":28,"summonerLevel":30,"revisionDate":1444695170000},"385409":{"id":385409,"n[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/thememan?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"thememan":{"id":20106984,"name":"thememan","profileIconId":691,"summonerLevel":30,"revisionDate":1444708194000}}'
  recorded_at: Wed, 14 Oct 2015 18:18:12 GMT
recorded_with: VCR 2.9.3
