---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/thememan?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"thememan":{"id":20106984,"name":"thememan","profileIconId":691,"summonerLevel":30,"revisionDate":1444708194000}}'
  recorded_at: Tue, 13 Oct 2015 19:07:43 GMT
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.4/team/by-summoner/20106984?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"20106984":[{"fullId":"TEAM-f6ab8c00-452d-11e4-814b-782bcb4d1e24","name":"Can
        we not","tag":"CWN1","status":"RANKED","teamStatDetails":[{"teamStatType":"RANKED_TEAM_3x3","wins":0,"losses":0,"averageGamesPlayed":0},{"teamStatType":"RANKED_TEAM_5x5","wins":1,"losses":0,"averageGamesPlayed":0}],"roster":{"ownerId":20095379,"memberList":[{"playerId":26125925,"joinDate":1411677244000,"inviteDate":1411677244000,"status":"MEMBER"},{"playerId":45574759,"joinDate":1411677301000,"inviteDate":1411677260000,"status":"MEMBER"},{"playerId":20095379,"joinDate":1411677267000,"inviteDate":1411677263000,"status":"MEMBER"},{"playerId":20106984,"joinDate":1411678562000,"inviteDate":1411678406000,"status":"MEMBER"},{"playerId":19755361,"joinDate":1414873072000,"inviteDate":1414873043000,"status":"MEMBER"},{"playerId":385409,"joinDate":1417585691000,"inviteDate":1417585688000,"status":"MEMBER"},{"playerId":41683718,"joinDate":1419303692000,"inviteDate":1419303666000,"status":"MEMBER"},{"playerId":21408044,"joinDate":1420689350000,"inviteDate":1420689323000,"status":"MEMBER"},{"playerId":30158992,"joinDate":1420689409000,"inviteDate":1420689378000,"status":"MEMBER"}]},"matchHistory":[{"kills":56,"deaths":46,"opposingTeamKills":45,"assists":122,"gameMode":"CLASSIC","opposingTeamName":"TOMATOMA","win":true,"invalid":false,"mapId":11,"gameId":1829389967,"date":1432087555763},{"kills":13,"deaths":40,"opposingTeamKills":40,"assists":22,"gameMode":"CLASSIC","opposingTeamName":"Fist
        Pump 2 Guns","win":false,"invalid":false,"mapId":11,"gameId":1690168175,"date":1420694704885},{"kills":35,"deaths":16,"opposingTeamKills":16,"assists":70,"gameMode":"CLASSIC","opposingTeamName":"Zimby
        and the Js","win":true,"invalid":false,"mapId":11,"gameId":1690142193,"date":1420691924835},{"kills":37,"deaths":45,"opposingTeamKills":45,"assists":60,"gameMode"[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/26125925,45574759,20095379,20106984,19755361,385409,41683718,21408044,30158992,20409409,20106984,19755361,35491814,32174129,26125925,385409,385409,19088825,24158657,19744834,21623880,45574759,20106984,?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - ap[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/1442785701?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"matchId":1442785701,"region":"NA","platformId":"NA1","matchMode":"CLASSIC","matchType":"MATCHED_GAME","matchCreation":1404532791346,"matchDuration":2283,"queueType":"RANKED_TEAM_5x5","mapId":1,"season":"SEASON2014","matchVersion":"4.11.0.399","participants":[{"teamId":100,"spell1Id":4,"spell2Id":3,"championId":267,"highestAchievedSeasonTier":"UNRANKED","timeline":{"creepsPerMinDeltas":{"zeroToTen":0.6,"tenToTwenty":0.30000000000000004,"twentyToThirty":1.0,"thirtyToEnd":0.0},"xpPerMinDeltas":{"zeroToTen":253.9,"tenToTwenty":321.3,"twentyToThirty":595.8,"thirtyToEnd":404.6},"goldPerMinDeltas":{"zeroToTen":162.3,"tenToTwenty":353.8,"twentyToThirty":425.20000000000005,"thirtyToEnd":437.0},"csDiffPerMinDeltas":{"zeroToTen":0.34999999999999987,"tenToTwenty":1.4500000000000002,"twentyToThirty":-0.30000000000000016,"thirtyToEnd":-0.40000000000000036},"xpDiffPerMinDeltas":{"zeroToTen":6.19999999999996,"tenToTwenty":87.15000000000002,"twentyToThirty":49.29999999999998,"thirtyToEnd":94.40000000000009},"damageTakenPerMinDeltas":{"zeroToTen":226.0,"tenToTwenty":502.70000000000005,"twentyToThirty":690.0,"thirtyToEnd":834.0},"damageTakenDiffPerMinDeltas":{"zeroToTen":-38.7,"tenToTwenty":-257.79999999999995,"twentyToThirty":-234.80000000000007,"thirtyToEnd":-106.70000000000005},"role":"DUO_SUPPORT","lane":"BOTTOM"},"stats":{"winner":true,"champLevel":16,"item0":3222,"item1":3023,"item2":3069,"item3":2045,"item4":3270,"item5":2043,"item6":3364,"kills":4,"doubleKills":0,"tripleKills":0,"quadraKills":0,"pentaKills":0,"unrealKills":0,"largestKillingSpree":2,"deaths":1,"assists":33,"totalDamageDealt":36319,"totalDamageDealtToChampions":20722,"totalDamageTaken":21254,"largestCriticalStrike":0,"totalHeal":19077,"minionsKilled":19,"neutralMinionsKilled":0,"neutralMinionsKilledTeamJungle":0,"neutralMinionsKilledEnemyJungle":0,"goldEarned":13415,"goldSpent":12155,"combatPlayerScore":0,"objectivePlayerScore":0,"totalPlayerScore":0,"totalScoreRank":0,"magicDamageDealtToChampions":15719,"physicalDamageDealtToChampions":4574,"trueDamageDealtToChampions":428,"visionWardsBoughtInGame":9,"sightWardsBoughtInGame":0,"magicDamageDealt":25645,"physicalDamageDealt":9512,"trueDamageDealt":1162,"magicDamageTaken":13997,"physicalDamageTaken":6850,"trueDamageTaken":406,"firstBloodKill":false,"firstBloodAssist":false,"firstTowerKill":false,"firstTowerAssist":false,"firstInhibitorKill":true,"firstInhibitorAssist":false,"inhibitorKills":1,"towerKills":0,"wardsPlaced":45,"wardsKilled":6,"largestMultiKill":1,"killingSprees":2,"totalUnitsHealed":5,"totalTimeCrowdControlDealt":470},"participantId":1},{"teamId":100,"spell1Id":4,"spell2Id":11,"championId":28,"highestAchievedSeasonTier":"UNRANKED","timeline":{"creepsPerMinDeltas":{"zeroToTen":0.7,"tenToTwenty":2.2,"twentyToThirty":1.4,"thirtyToEnd":0.8},"xpPerMinDeltas":{"zeroToTen":312.1,"tenToTwenty":539.7,"twentyToThirty":460.2,"thirtyToEnd":477.2},"goldPerMinDeltas":{"zeroToTen":172.2,"tenToTwenty":427.70000000000005,"twentyToThirty":426.1,"thirtyToEnd":469.4},"damageTakenPerMinDeltas":{"zeroToTen":365.4,"tenToTwenty":622.1,"twentyToThir[...]
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/634843556?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=ISO-8859-1\"/>\n<title>Error 404 Not Found</title>\n</head>\n<body><h2>HTTP
        ERROR 404</h2>\n<p>Problem accessing /api/lol/na/v2.2/match/634843556. Reason:\n<pre>
        \   Not Found</pre></p><br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n\n</body>\n</html>\n"
  recorded_at: Tue, 13 Oct 2015 19:17:15 GMT
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/583677310?api_key=82ced787-5473-4e7f-938f-c35a1f628ade
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 429
      message: '429'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Retry-After:
      - '4'
      X-Rate-Limit-Type:
      - user
    body:
      encoding: UTF-8
      string: '{"status": {"message": "Rate limit exceeded", "status_code": 429}}'
  recorded_at: Tue, 13 Oct 2015 19:17:16 GMT
- request:
    method: get
    uri: http://127.0.0.1:62203/__identify__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '70251658393200'
  recorded_at: Tue, 13 Oct 2015 19:20:41 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session
    body:
      encoding: UTF-8
      string: '{"desiredCapabilities":{"browserName":"firefox","version":"","platform":"ANY","javascriptEnabled":true,"cssSelectorsEnabled":true,"takesScreenshot":true,"nativeEvents":false,"rotatable":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"newSession","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":{"cssSelectorsEnabled":true,"browserName":"firefox","handlesAlerts":true,"javascriptEnabled":true,"nativeEvents":false,"platform":"Darwin","rotatable":false,"takesScreenshot":true,"version":"39.0","webStorageEnabled":true,"applicationCacheEnabled":true,"databaseEnabled":true,"locationContextEnabled":true,"acceptSslCerts":true}}'
  recorded_at: Tue, 13 Oct 2015 19:20:43 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:62203/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"get","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":""}'
  recorded_at: Tue, 13 Oct 2015 19:20:43 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":".//*[self::input | self::textarea][not(./@type
        = ''submit'' or ./@type = ''image'' or ./@type = ''radio'' or ./@type = ''checkbox''
        or ./@type = ''hidden'' or ./@type = ''file'')][(((./@id = ''summoner_name''
        or ./@name = ''summoner_name'') or ./@placeholder = ''summoner_name'') or
        ./@id = //label[normalize-space(string(.)) = ''summoner_name'']/@for)] | .//label[normalize-space(string(.))
        = ''summoner_name'']//.//*[self::input | self::textarea][not(./@type = ''submit''
        or ./@type = ''image'' or ./@type = ''radio'' or ./@type = ''checkbox'' or
        ./@type = ''hidden'' or ./@type = ''file'')]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":[{"ELEMENT":"{fc1732a8-6ab3-5d42-8939-367f125622e4}","element-6066-11e4-a52e-4f735466cecf":"{fc1732a8-6ab3-5d42-8939-367f125622e4}"}]}'
  recorded_at: Tue, 13 Oct 2015 19:20:43 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/element/%7Bfc1732a8-6ab3-5d42-8939-367f125622e4%7D/displayed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementDisplayed","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":false}'
  recorded_at: Tue, 13 Oct 2015 19:20:43 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/element/%7Bfc1732a8-6ab3-5d42-8939-367f125622e4%7D/enabled
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementEnabled","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":true}'
  recorded_at: Tue, 13 Oct 2015 19:20:43 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/element/%7Bfc1732a8-6ab3-5d42-8939-367f125622e4%7D/name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementTagName","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":"input"}'
  recorded_at: Tue, 13 Oct 2015 19:20:43 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/element/%7Bfc1732a8-6ab3-5d42-8939-367f125622e4%7D/attribute/type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementAttribute","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":"text"}'
  recorded_at: Tue, 13 Oct 2015 19:20:43 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/element/%7Bfc1732a8-6ab3-5d42-8939-367f125622e4%7D/attribute/readonly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementAttribute","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":null}'
  recorded_at: Tue, 13 Oct 2015 19:20:43 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/execute
    body:
      encoding: UTF-8
      string: '{"script":"arguments[0].value = ''''","args":[{"ELEMENT":"{fc1732a8-6ab3-5d42-8939-367f125622e4}","element-6066-11e4-a52e-4f735466cecf":"{fc1732a8-6ab3-5d42-8939-367f125622e4}"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"executeScript","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":null}'
  recorded_at: Tue, 13 Oct 2015 19:20:43 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/element/%7Bfc1732a8-6ab3-5d42-8939-367f125622e4%7D/value
    body:
      encoding: UTF-8
      string: '{"value":["thememan"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"sendKeysToElement","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":""}'
  recorded_at: Tue, 13 Oct 2015 19:20:43 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/element/%7B3072a532-e1fa-a94e-af70-24ef39e79de1%7D/click
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"clickElement","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":"ok"}'
  recorded_at: Tue, 13 Oct 2015 19:20:44 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/element/%7Bf90e4cbd-883f-1148-ba3f-f53b8fdb737d%7D/text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementText","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":"Hello
        Kitties On Crack\nRoster\nMatch History(coming soon)\nDamages\nPercentAverage
        Percent Damage Dealt to ChampionsPhysicalMagicTrueQuidEstProSohoBakeryELNuestrothememanphaNzaeEWStalkieits
        KsYou02.557.51012.51517.52022.52527.53032.53537.5Highcharts.com"}'
  recorded_at: Tue, 13 Oct 2015 19:20:45 GMT
[...]
- request:
    method: delete
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/cookie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"deleteAllCookies","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":""}'
  recorded_at: Tue, 13 Oct 2015 19:20:45 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":"/html/body/*"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"dd8f88ed-b61b-f648-b65d-a89ca7bfe1d0","status":0,"value":[]}'
  recorded_at: Tue, 13 Oct 2015 19:20:45 GMT
recorded_with: VCR 2.9.3
