.new-bar {
  padding: 0;
}

.bar {
  max-width: 600px;
}

.search-button {
  padding-left: 0;
}

.home {
  position: absolute;
  top: 35%;
}

.new_title {
  color: gold;
  font-family: monospace;
  font-size: 6rem;
  text-shadow: 2px 2px black;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

li {
  list-style-type: none;
}
