.content {
  background-color: white;
}

.team_title {
  font-size: 3rem;
  color: gold;
  font-family: monospace;
  margin-top: 10px;
  margin-bottom: 10px;
}

.roster_list {
  margin-left: 0;
}

.roster_panel {
  margin-bottom: .5rem;
}
