.everything {
  min-width: 1000px;
}

.content {
  background-color: white;
}

.team_title {
  font-size: 3rem;
  color: gold;
  font-family: monospace;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  white-space: nowrap;
}

.roster_list {
  margin-left: 0;
}

.roster_panel {
  height: 4.5rem;
  margin-bottom: 15px;
  margin-top: -5px;
}

.summ_name {
  font-family: fantasy;
  font-weight: bolder;
  font-size: 2.15rem;
  color: gold;
  text-shadow: 1px 1px black;
}

.kda {
  font-family: arial;
  font-size: 2rem;
  margin-top: -10px;
}

.join_date {
  font-size: 1.5rem;
  white-space: nowrap;
}
